<mat-list-item>
	<mat-card class="movie">
		<mat-card-content>
			<div class="movie_thumbnail_holder">
				<div class="movie_thumbnail"></div>
			</div>
			<div class="movie_info_holder">
			<div mat-card-title class="movie_title">Interstellar</div>
			<div class="movie_description">
				Lorem ipsum dolor sit amet, vis posse delenit corrumpit ea, 
				tibique eleifend qui in, pri an tritani cotidieque. An qui nobis debitis nonumes, 
				sonet viderer nostrud ne mei. Ea eam nemore dictas mentitum, usu at minimum sententiae, 
				est ut dolorem accusata. Et case corrumpit assentior cum, te animal vocibus scripserit vix.
			</div>
			<div class="movie_rating">Voted: 7,5/10</div>
			<div class="movie_year">Year: 2017.</div>
			<div class="movie_genre">Genre: Sci-fi</div>
			</div>
		</mat-card-content>
	</mat-card>
</mat-list-item>
