<!--naslovnica, component naslovna strana-->
<section class="container_list_title">
	<div class="list_title">This month</div><!--odnosi se na movie_left listu-->
	<div class="list_title">TOP movies of all time</div><!--odnosi se na movie_right listu-->
	<hr>
</section>
<!--svaka lista prikazuje 10 rezltata-->
<section class="wrapper">
<!--filmovi ovog mjeseca-->
	<mat-list class="container_movie">
		<item></item>
		<item></item>
		<item></item>
		<item></item>
		<item></item>
		<item></item>
		<item></item>
		<item></item>
	</mat-list>
	<!--top filmovi svih vremena-->
	<mat-list class="container_movie">
		<item></item>
		<item></item>
		<item></item>
		<item></item>
		<item></item>
		<item></item>
		<item></item>
		<item></item>
	</mat-list>
</section>