<section class="wrapper">
	<mat-grid-list cols="4" rowHeight="500px" class="container_category">
		<mat-grid-tile>
			<tile></tile>
		</mat-grid-tile>
		<mat-grid-tile>
			<tile></tile>
		</mat-grid-tile>
		<mat-grid-tile>
			<tile></tile>
		</mat-grid-tile>
		<mat-grid-tile>
			<tile></tile>
		</mat-grid-tile>	
		<mat-grid-tile>
			<tile></tile>
		</mat-grid-tile>
		<mat-grid-tile>
			<tile></tile>
		</mat-grid-tile>
	</mat-grid-list>
	<!--učitava slijdećih 10 rezultata-->
	<button mat-button class="load_more">Load more</button>
</section>
