<!--header-->
<header>
    <div class="navigation">
        <div class="container_logo">
            <div routerLink="" class="logo"></div>
        </div>
        <div class="container_routes">
            <button routerLink="/category" mat-button>Upcoming movies</button>
            <button routerLink="/category" mat-button>Popular TV shows</button>
            <button routerLink="/category" mat-button>Top rated TV shows</button>
        </div>
        <mat-form-field class="container_search">
            <input matInput type="text" placeholder="Search for a movie or a person" >
            <button routerLink="/search" mat-button>
                    <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <!--dodati hamburger meni za responsive (tablet, mob)-->
    </div>
</header>
<router-outlet></router-outlet>
<!-- <home></home> -->
<!--footer, improvizirano-->
<footer>
    <div class="privacy_policy">Pravila privatnosti</div>
    <div class="site_by">Site by:</div>
</footer>
